body{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form {
border: 2px solid blue;
padding: 20px;
display: inline-block;
margin-top: 20px;
width: 400px;
height:250px;
} 
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
