body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.error {
    color: red;
    font-size: 10px;
}
h2 {
    text-align: center;
}
.row {
    display: flex;
    margin-bottom: 15px;
    
}
span {
    width: 100px;
    font-weight: bold;
}
.row input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.two-columns {
    gap: 15px;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}
.checkbox-group p {
    width: 45%;
    margin-bottom: 5px;
}
.bo{
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100px;
}
textarea {
    width: 100%;
    box-sizing: border-box; /* Đảm bảo padding và border được bao gồm trong chiều rộng */
}
.upload{
    margin-top: 10px;
    border: 1px dashed #ddd;
    border-radius: 4px;
    height: 100px;
    text-align: center;
}
.icon{
    margin-top: 10px;
    font-size: 30px ;
}
.submit-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.submit-btn input {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}